html{

font-size: 8px;

}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #315d31; */
    padding: 2rem;


}

.create-button{

padding: 1rem;
border-radius: 1rem;
width: 20rem;
height:5rem;
background-color: #4d4d77;
color: white;
border: 0.0125rem solid black;
}

input{

    padding: 1rem;
    border-radius: 1rem;
    margin:0.5rem;
    border: 0.0125rem solid black;
}