html{

    font-size:8px;


}


.container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(39, 39, 67);

}